# List and default functions

In [3]:
lst=[1,2,"john",4.5,"a",10]
lst.append("gru")
print(lst)

[1, 2, 'john', 4.5, 'a', 10, 'gru']

In [7]:
lst.index(2)

1

In [9]:
lst.insert(4,[4,5,7])

In [10]:
lst

[1, 2, 'john', 4.5, [4, 5, 7], 'a', 10, 'gru']

In [11]:
lst.pop(1)
lst

[1, 'john', 4.5, [4, 5, 7], 'a', 10, 'gru']

In [12]:
lst.remove("gru")
lst

[1, 'john', 4.5, [4, 5, 7], 'a', 10]

In [13]:
lst2=lst.copy()
lst2

[1, 'john', 4.5, [4, 5, 7], 'a', 10]

In [14]:
lst3=[9,5.6,"rome",23]
lst.extend(lst3)
lst

[1, 'john', 4.5, [4, 5, 7], 'a', 10, 9, 5.6, 'rome', 23]

In [16]:
lst.count(9)

1

In [21]:
lst4=[4,10,1,2,6,3]
lst4.sort()

In [22]:
lst4

[1, 2, 3, 4, 6, 10]

In [24]:
lst.reverse()
lst

[1, 'john', 4.5, [4, 5, 7], 'a', 10, 9, 5.6, 'rome', 23]

In [26]:
lst.clear()
lst

[]

# Dictionary and its Default functions

In [29]:
dict={"name":"kelvin","age":25,"mailId":"kelvin@","rollno":1234}
dict.keys()

dict_keys(['name', 'age', 'mailId', 'rollno'])

In [30]:
dict.values()

dict_values(['kelvin', 25, 'kelvin@', 1234])

In [31]:
dict.items()

dict_items([('name', 'kelvin'), ('age', 25), ('mailId', 'kelvin@'), ('rollno', 1234)])

In [32]:
dict.get("age")

25

In [34]:
dict.fromkeys(dict)

{'name': None, 'age': None, 'mailId': None, 'rollno': None}

In [35]:
dict1=dict.copy()

In [36]:
dict1

{'name': 'kelvin', 'age': 25, 'mailId': 'kelvin@', 'rollno': 1234}

In [37]:
dict1.setdefault("age","rolno")

25

In [40]:
dict.pop("mailId")
dict

{'name': 'kelvin', 'age': 25, 'rollno': 1234}

In [41]:
dict.popitem()

('rollno', 1234)

In [43]:
dict.update({"country":"india"})
dict

{'name': 'kelvin', 'age': 25, 'country': 'india'}

In [46]:
dict.clear()
dict

{}

# Tuple and its functions

In [47]:
tup=(3,5,8.5,"thu",10,9,"wed")
tup.index(5)

1

In [48]:
tup.count(9)

1

# Set and its Functions

In [52]:
set={"apple","banana",3,6.3,78,81}
set.add("kal")
set

{3, 6.3, 78, 81, 'apple', 'banana', 'kal'}

In [53]:
set1=set.copy()

In [54]:
set1

{3, 6.3, 78, 81, 'apple', 'banana', 'kal'}

In [56]:
diff=set1.difference(set)
diff

set()

In [57]:
set2={7,8,1,2}
set2.update(set)
set2

{1, 2, 3, 6.3, 7, 78, 8, 81, 'apple', 'banana', 'kal'}

In [58]:
ints=set.intersection(set2)
ints

{3, 6.3, 78, 81, 'apple', 'banana', 'kal'}

In [60]:
union=set.union(set2)
union

{1, 2, 3, 6.3, 7, 78, 8, 81, 'apple', 'banana', 'kal'}

In [61]:
symdiff=set.symmetric_difference(set1)
symdiff

set()

In [64]:
set.symmetric_difference_update(set2)
set

{1, 2, 7, 8}

In [65]:
disj=set.isdisjoint(set2)
disj

False

In [66]:
subset=set.issubset(set2)
subset

True

In [67]:
superset=set.issuperset(set2)
superset

False

In [71]:
set1.remove("banana")
set1

{3, 6.3, 78, 81, 'apple', 'kal'}

In [72]:
set.difference_update(set1)

In [73]:
set

{1, 2, 7, 8}

In [74]:
set.pop()
set

{2, 7, 8}

In [75]:
set.clear()
set

set()